@import "tailwindcss";

@theme {
  --animate-in: enter 150ms ease-out;
  --animate-out: exit 150ms ease-in;
}

@layer utilities {
  .animate-in {
    animation-name: enter;
    animation-duration: 150ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }
  
  .fade-in {
    --tw-enter-opacity: 0;
  }
  
  .slide-in-from-bottom-4 {
    --tw-enter-translate-y: 1rem;
  }
  
  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), 1) rotate(var(--tw-enter-rotate, 0));
    }
  }
}

